/* ========================================
   RESET
======================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ========================================
   BODY
======================================== */

body {
    background: #000;
    color: #fff;
}

/* ========================================
   MATRIX BACKGROUND
======================================== */

#matrix {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: -1;
    opacity: 0.55;
}

/* MATRIX APARECENDO ATRÁS DE TUDO */
.hero,
header {
    background: transparent;
}

section {
    background: rgba(15, 23, 42, 0.75);
    backdrop-filter: blur(8px);

    padding: 20px;

    border-radius: 10px;

    border: 1px solid rgba(0,255,65,0.3);

    transition: 0.3s;

    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* ========================================
   HERO / HEADER
======================================== */

header {
    background: rgba(0, 0, 0, 0.75);

    backdrop-filter: blur(10px);

    border-bottom: 1px solid #00ff41;

    padding: 30px 0;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.hero-text {
    max-width: 650px;
}

h1 {
    font-size: 3.5rem;

    color: white;

    text-shadow:
        0 0 10px #00ff41,
        0 0 20px #00ff41;
}   

.perfil {
    width: 220px;
    height: 220px;

    border-radius: 50%;

    border: 3px solid #00ff41;

    box-shadow:
        0 0 15px #00ff41,
        0 0 30px #00ff41,
        0 0 60px #00ff41;
}

.subtitulo {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.descricao {
    margin-top: 15px;
    opacity: 0.9;
}

/* ========================================
   BOTÕES
======================================== */

.botoes {
    margin-top: 20px;
}

.botoes a {
    display: inline-block;
    margin-right: 10px;
    padding: 12px 25px;

    background-color: #00ff41;
    color: #0f172a;

    text-decoration: none;
    font-weight: bold;

    border-radius: 8px;

    transition: 0.3s;
}

.botoes a:hover {
    transform: scale(1.05);
}

/* ========================================
   MENU
======================================== */

nav {
    margin-top: 20px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 40px;

    padding: 18px 0;

    border-top: 1px solid rgba(0,255,65,.2);
}

nav a:hover {
    color: white;
}

/* ========================================
   MAIN
======================================== */

main {
    width: 90%;
    max-width: 1300px;

    margin: 40px auto;

    display: grid;

    grid-template-columns:
        repeat(auto-fit, minmax(350px, 1fr));

    gap: 20px;
}

section {
    border: 1px solid rgba(0, 255, 65, 0.3);
}

/* TAMANHO DOS CARDS */

#sobre {
    grid-column: span 2;
}

#objetivo {
    grid-column: span 2;
}

#habilidades {
    grid-column: span 1;
}

#projetos {
    grid-column: span 2;
}

#contato {
    grid-column: span 1;
}

/* ========================================
   SEÇÕES
======================================== */

section {
    background: rgba(0,0,0,0.75);
    backdrop-filter: blur(8px);

    border: 1px solid rgba(0,255,65,.4);

    border-radius: 12px;

    padding: 25px;
}

section:hover {
    transform: translateY(-4px);

    box-shadow:
        0 0 10px #00ff41,
        0 0 20px rgba(0,255,65,.4);
}

h2 {
    margin-bottom: 10px;
    color: #00ff41;
}


/* ========================================
   LISTAS
======================================== */

ul {
    margin-left: 20px;
}

/* ========================================
   SKILLS
======================================== */

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skill {
    background: #1e293b;
    border: 1px solid #00ff41;

    padding: 10px 18px;

    border-radius: 8px;
    transition: 0.3s;
}

.skill:hover {
    background: #00ff41;
    color: #0f172a;
}

/* ========================================
   PROJETOS
======================================== */

.projeto a {
    display: inline-block;
    margin-top: 10px;

    background: #00ff41;
    color: #0f172a;

    padding: 10px 20px;

    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;

    transition: 0.3s;
}

.projeto a:hover {
    opacity: 0.8;
}

/* ========================================
   LINKS
======================================== */

a {
    color: #00ff41;
}

/* ========================================
   FOOTER
======================================== */

footer {
    background: rgba(0,0,0,.85);

    border-top: 1px solid #00ff41;

    padding: 30px;

    text-align: center;
}

/* ========================================
   RESPONSIVO
======================================== */

@media (max-width: 768px) {

    .hero-content {
    max-width: 1200px;

    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 80px;

    padding: 60px 20px;
}

    main {
        padding: 10px;
    }

    section {
        padding: 15px;
    }

    nav a {
        display: block;
        margin: 10px 0;
    }

    .skills {
        justify-content: center;
    }
}

/* ========================================
   NAVBAR
======================================== */

.navbar {
    position: sticky;
    top: 0;

    display: flex;
    justify-content: center;
    gap: 30px;

    padding: 15px;

    background: rgba(0, 0, 0, 0.9);

    backdrop-filter: blur(10px);

    border-bottom: 1px solid #00ff41;

    z-index: 1000;
}

.navbar a {
    color: #00ff41;
    text-decoration: none;
    font-weight: bold;

    transition: 0.3s;
}

.navbar a:hover {
    text-shadow: 0 0 10px #00ff41;
}

/* ========================================
   BADGE
======================================== */

.badge {
    display: inline-block;

    padding: 6px 14px;

    border: 1px solid #00ff41;
    border-radius: 20px;

    color: #00ff41;

    font-size: 0.8rem;
    letter-spacing: 2px;

    margin-bottom: 15px;

    box-shadow: 0 0 10px #00ff41;
}

/* ========================================
   MINI SKILLS
======================================== */

.skills-mini {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    margin-top: 15px;
}

.skills-mini span {
    border: 1px solid #00ff41;

    padding: 6px 12px;

    border-radius: 6px;

    color: #00ff41;

    font-size: 0.85rem;
}

/* ========================================
   CARD DE PROJETO
======================================== */

.projeto-card {
    border: 1px solid #00ff41;

    border-radius: 12px;

    padding: 20px;

    transition: 0.3s;
}

.projeto-card:hover {
    transform: translateY(-5px);

    box-shadow: 0 0 20px #00ff41;
}

/* ========================================
   EFEITOS VISUAIS
======================================== */

.perfil {
    box-shadow:
        0 0 10px #00ff66,
        0 0 20px #00ff66,
        0 0 40px #00ff66;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 2rem;
}

section {
    border: 1px solid rgba(0, 255, 65, 0.3);
}

/* ========================================
   RESPONSIVO
======================================== */

@media (max-width: 768px) {

    .hero-content {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .hero-text h1 {
    font-size: 4rem;
    margin-bottom: 15px;
}

    .hero-text h1 {
        font-size: 2.2rem;
    }

    .perfil {
        width: 140px;
        height: 140px;
    }

    main {
        grid-template-columns: 1fr;
        padding: 10px;
    }

    section {
        padding: 15px;
    }

    nav a {
        display: block;
        margin: 10px 0;
    }

    .skills {
        justify-content: center;
    }

    .navbar {
        flex-direction: column;
        gap: 10px;
    }

    .skills-mini {
        justify-content: center;
    }

    #sobre,
    #objetivo,
    #habilidades,
    #projetos,
    #contato {
        grid-column: span 1;
    }
}

h1,
h2 {
    text-shadow:
        0 0 3px #00ff41,
        0 0 6px #00ff41;
}

nav a:hover {
    color: #00ff41;
    text-shadow: 0 0 10px #00ff41;
}